{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="/static/editor.css">
<form class="d-flex justify-content-center" action="/manage/new_assignment" method="POST" target="_self" enctype="multipart/form-data">
    <div class="card w-75">
        <div class="card-header align-baseline card-header d-flex align-items-center justify-content-between">
            <h5>Neue Aufgabe</h5>
            <button type="submit" class="btn btn-primary justify-content-end">erstellen</button>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="NameInput">Name</label>
                <input
                    type="text"
                    class="form-control w-75 p-3"
                    id="NameInput"
                    aria-describedby="name help"
                    name="name"
                    required
                />
            </div>

            <div class="form-group">
                <label for="Description">Beschreibung</label>
                <textarea
                        class="form-control"
                        rows="3"
                        name="description"
                        id="Description"
                        required></textarea>
            </div>

            <fieldset class="form-group">

                <legend>Überprüfen mit der Müsterlösung</legend>
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" id="compare_fs_checkbox" class="custom-control-input" name="compare_fs_solution" checked="check" aria-describedby="bla">
                    <label class="custom-control-label" for="compare_fs_checkbox">Die von der Müsterlösung erstellte Dateien/Ordner werden 1:1 vergleichen.</label>
                </div>
                <div class="custom-control custom-checkbox mr-sm-2 mb-2">
                    <input type="checkbox" id="compare_stdout_checkbox" class="custom-control-input" name="compare_stdout_solution" checked="check" aria-describedby="bla">
                    <label class="custom-control-label" for="compare_stdout_checkbox">Die Konsolenausgabe wird 1:1 mit der Konsolenausgabe der Müsterlösung verglichen.</label>
                </div>
                <div class="form-group w-50">
                    <label for="SortBySelect">Sortierung der gesammten Ausgabe auf der Konsole</label>
                    <select
                            class="form-control"
                            id="SortBySelect"
                            name="sort_stdout"
                            required
                    >
                        <option value="UnknownSort">Keine</option>
                        <option value="Asc">Aufsteigend</option>
                        <option value="Desc">Absteigend</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="SolutionInput">Müsterlösung Skript</label>
                    <textarea
                            spellcheck="false"
                            class="form-control code-editor mono-font"
                            rows="8"
                            name="solution"
                            id="SolutionInput"
                            required
                    ></textarea>
                    <small id="MüsterlösungHelp" class="form-text text-muted">Die Müsterlösung wird nur ausgeführt, wenn eins von beiden Optionen angekreuzt ist.</small>
                </div>

                <div class="form-group">
                    <label for="ScriptArgs">Kommandozeilenparameter (optional)</label>
                    <input
                            type="text"
                            spellcheck="false"
                            class="form-control mono-font"
                            id="ScriptArgs"
                            aria-describedby="Args"
                            name="args"
                            pattern="^\S*$|^\S+,\S+"
                    />
                    <small id="ArgsHelp" class="form-text text-muted"
                    >Komma-Sperierte Liste ohne Leerzeichen. Beispiel:
                        -l,10,file.txt,--name bob</small>
                    <small class="form-text text-muted">
                        Gilt nur für die Musterlösung und das zu testene Skript.
                    </small>
                </div>

            </fieldset>

            <div class="row mb-4">
                <div class="form-group col-lg-6 col-sm-12">
                    <label for="ExerciseSelect">Praktikum</label>
                    <select
                            class="form-control"
                            id="ExerciseSelect"
                            name="exercise_id"
                            required
                    >
                        {% for exercise in exercises %}
                        <option value="{{exercise.id}}"
                        >{{exercise.description}}</option
                        >
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-lg-6 col-sm-12">
                    <label for="SkriptType">Skript</label>
                    <select
                            class="form-control"
                            id="SkriptType"
                            name="script_type"
                            required
                    >
                        {% for script in scripts %}
                        <option value="{{script}}">{{script}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% include 'file_upload.html' %}
            <fieldset class="form-group">
                <legend>Regex</legend>
                <div class="form-group w-50">
                    <div class="form-group ">
                        <div class="form-check radio-regex">
                            <input class="form-check-input" name="regex_check_mode" type="radio" checked="true" value="UnknownRegex" id="NoneRadio" onclick="onchangeRegexRadio(this)">
                            <label for="NoneRadio">Nichts</label>
                        </div>
                        <div class="form-check radio-regex">
                            <input class="form-check-input" name="regex_check_mode" type="radio"  value="ScriptContent" id="SkriptRadio" onclick="onchangeRegexRadio(this)" onclick="showRegexInput(this)">
                            <label for="SkriptRadio">Skriptinhalt</label>
                        </div>
                        <div class="form-check radio-regex">
                            <input class="form-check-input" name="regex_check_mode" type="radio" id="StdoutRadio" value="Stdout" onclick="onchangeRegexRadio(this)" onclick="showRegexInput(this)">
                            <label class="form-check-label" for="StdoutRadio">Konsolen Ausgabe</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" hidden id="RegexInputForm">
                    <label for="RegexInput">Regex (Perl-style)</label>
                    <input
                            type="text"
                            class="form-control"
                            id="RegexInput"
                            aria-describedby="regex"
                    />
                </div>
                <small class="form-text text-muted">
                    Jede Zeile wird überprüft. Es reicht wenn, es wenigensten einen Treffer gibt.
                </small>
            </fieldset>

            <div class="form-group" id="SpecialSection">
                <label for="CustomScriptInput">Spezielles Skript zum überprüfen der Abgabe (optional).</label>
                <textarea
                        spellcheck="false"
                        class="form-control code-editor mono-font"
                        rows="4"
                        name="custom_script"
                        id="CustomScriptInput"
                ></textarea>
                {% include 'solution-small-desc.html' %}
            </div>

        </div>

    </div>
</form>

<script src="/static/form.js"></script>
{% endblock content %}