{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="/static/editor.css">
<form class="d-flex justify-content-center" action="/manage/new_assignment" method="POST" target="_self" enctype="multipart/form-data">
    <div class="card w-75">
        <div class="card-header align-baseline card-header d-flex align-items-center justify-content-between">
            <h5>Neue Aufgabe</h5>
            <button type="submit" class="btn btn-primary justify-content-end">erstellen</button>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="NameInput">Name</label>
                <input
                    type="text"
                    class="form-control w-75 p-3"
                    id="NameInput"
                    aria-describedby="name help"
                    name="name"
                    required
                />
            </div>

            <div class="form-group">
                <label for="Description">Beschreibung</label>
                <textarea
                        class="form-control"
                        rows="3"
                        name="description"
                        id="Description"
                        required></textarea>
            </div>
            <!--                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            <div class="form-group">
                <label class="form-check-label" for="SolutionInput"
                >Musterlösung</label
                >
                <textarea
                        class="form-control code-editor mono-font"
                        rows="8"
                        name="solution"
                        id="SolutionInput"
                        required
                ></textarea>
            </div>
            <div class="form-group">
                <label for="ScriptArgs">Skript Argumente</label>
                <input
                        type="text"
                        class="form-control mono-font"
                        id="ScriptArgs"
                        aria-describedby="Args"
                        name="args"
                        pattern="^\S*$|^\S+,\S+"
                />
                <small id="ArgsHelp" class="form-text text-muted"
                >Komma-Sperierte Liste ohne Leerzeichen. Beispiel:
                    -l,10,file.txt,--name bob</small>
            </div>

            <div class="row mb-4">
                <div class="form-group col-lg-6 col-sm-12">
                    <label for="ExerciseSelect">Praktikum</label>
                    <select
                            class="form-control"
                            id="ExerciseSelect"
                            name="exercise_id"
                            required
                    >
                        {% for exercise in exercises %}
                        <option value="{{exercise.id}}"
                        >{{exercise.description}}</option
                        >
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-lg-6 col-sm-12">
                    <label for="SkriptType"
                    >Skript</label
                    >
                    <select
                            class="form-control"
                            id="SkriptType"
                            name="script_type"
                            required
                    >
                        {% for script in scripts %}
                        <option value="{{script}}">{{script}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% include 'file_upload.html' %}
        </div>

    </div>
</form>
{% endblock content %}