{% extends "index.html" %}
{% block content %}

<link rel="stylesheet" href="/static/editor.css">

{% set site_path = base_url  ~"/assignment" %}
{% set file_url =  site_path ~"/file/" ~assignment.uuid  %}
{% set file_name = assignment.name ~"_files.zip" %}
{% set stop_loop = false %}


<form class="d-flex justify-content-center" id="AssignmentForm" action="{{site_path}}/{{assignment.uuid}}" method="POST" target="_self">
    <div class="card w-100">
        <div class="align-baseline card-header d-flex align-items-center justify-content-between">
                <a href="/manage/exercise/{{assignment.exercise_id}}"><button type="button"class="btn btn-primary justify-content-start">zurück</button></a>
            <h5>Aufgabe ansehen/bearbeiten</h5>
            <button type="submit" class="btn btn-primary justify-content-end" form="AssignmentForm">speichern</button>
        </div>
        <div class="card-body">
            <div class="row row-cols-2">
                <div class="form-group col-7">
                    <label for="NameInput">Name</label>
                    <input
                            type="text"
                            class="form-control p-3"
                            id="NameInput"
                            aria-describedby="name help"
                            name="name"
                            required
                            value="{{assignment.name}}"
                    />
                </div>
                <div class="col-2 my-4">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" id="StatusLabel" class="custom-control-input" name="active" {%if
                               assignment.active%} checked="check" {% endif %} aria-describedby="status">
                        <label class="custom-control-label" for="StatusLabel">Aktiv</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Description">Beschreibung</label>
                <textarea
                        class="form-control p-2"
                        rows="3"
                        name="description"
                        id="Description"
                        required
                >{{assignment.description}}</textarea>
            </div>

            <fieldset class="form-group">
                <legend>Überprüfung mit der Musterlösung</legend>
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" {%if assignment.compare_fs_solution %} checked="check" {% endif %} id="compare_fs_checkbox" class="custom-control-input" name="compare_fs_solution" aria-describedby="müserlösung Label">
                    <label class="custom-control-label" for="compare_fs_checkbox">Die von der Müsterlösung erstellten Dateien/Ordner werden 1:1 verglichen.</label>
                </div>
                <div class="custom-control custom-checkbox mr-sm-2 mb-2">
                    <input type="checkbox" {%if assignment.compare_stdout_solution %} checked="check" {% endif %} id="compare_stdout_checkbox" class="custom-control-input" name="compare_stdout_solution" aria-describedby="bla">
                    <label class="custom-control-label" for="compare_stdout_checkbox">Die Konsolenausgabe wird 1:1 mit der Konsolenausgabe der Müsterlösung verglichen.</label>
                </div>
                <div class="form-group w-50">
                    <label for="SortBySelect">Sortierung der gesammten Ausgabe auf der Konsole</label>
                    <select
                            class="form-control"
                            id="SortBySelect"
                            name="sort_stdout"
                            value="Asc"
                            required
                    >   <!--lazy =)-->
                        <option {%if assignment.sort_stdout == 'UnknownSort' %} selected {% endif %} value="UnknownSort">Keine</option>
                        <option {%if assignment.sort_stdout == 'Asc' %} selected {% endif %} value="Asc">Aufsteigend</option>
                        <option {%if assignment.sort_stdout == 'Desc' %} selected {% endif %} value="Desc">Absteigend</option>
                        <!--lazy =)-->
                    </select>
                </div>

                <div class="form-group">
                    <div hidden id="hiddenSolutionText">
                        {{assignment.solution}}
                    </div>
                    <div hidden id="hiddenScriptType">
                        {{assignment.script_type}}
                    </div>
                    {% include 'monaco_editor.html' %}
                </div>

                <div class="form-group ">
                    <label for="ArgsInput">Kommandozeilenparameter (optional)</label>
                    <input
                            spellcheck="false"
                            type="text"
                            class="form-control mono-font"
                            id="ArgsInput"
                            aria-describedby="Argumente help"
                            name="args"
                            value="{{ assignment.args | join(sep=',') }}"

                    />
                    <small id="ArgsHelp" class="form-text text-muted">Komma-Sperierte Liste ohne Leerzeichen. Beispiel: -l,10,file.txt,--name bob</small>
                    <small class="form-text text-muted">
                        Gilt nur für die Musterlösung und das zu testene Skript.
                    </small>
                </div>
            </fieldset>

            <div class="row">
                <div class="form-group col-6">
                    <label for="SkriptType">Skript</label>
                    <select
                            class="form-control"
                            id="SkriptType"
                            name="script_type"
                            onchange="languageChanged(this)"
                            required
                    >
                        {% for script in scripts %}
                            {% if script == assignment.script_type %}
                            <option selected value="{{script}}">{{script}}</option>
                            {% else %}
                            <option value="{{script}}">{{script}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-6">
                    <label for="PraktikumSelect">Praktikum</label>
                    <select
                            class="form-control"
                            id="PraktikumSelect"
                            name="exercise_id"
                            required
                    >
                        {% for exercise in exercises %}
                        {% if exercise.id == assignment.exercise_id %}
                        <option selected value="{{exercise.id}}">{{exercise.description}}</option>
                        {% else %}
                        <option value="{{exercise.id}}">{{exercise.description}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <fieldset class="form-group">
                <legend>Regex</legend>
                <div class="form-group w-50">
                    <div class="form-group ">
                        <div class="form-check radio-regex">
                            <input class="form-check-input" {%if assignment.regex_check_mode == 'UnknownRegex' %} checked="true" {% endif %}  name="regex_check_mode" type="radio" value="UnknownRegex" id="NoneRadio" onclick="onchangeRegexRadio(this)">
                            <label for="NoneRadio">Nichts</label>
                        </div>
                        <div class="form-check radio-regex">
                            <input class="form-check-input" {%if assignment.regex_check_mode == 'ScriptContent' %} checked="true" {% endif %} name="regex_check_mode" type="radio" value="ScriptContent" id="SkriptRadio" onclick="onchangeRegexRadio(this)" onclick="showRegexInput(this)">
                            <label for="SkriptRadio">Skriptinhalt</label>
                        </div>
                        <div class="form-check radio-regex">
                            <input class="form-check-input" {%if assignment.regex_check_mode == 'Stdout' %} checked="true" {% endif %} name="regex_check_mode" type="radio" id="StdoutRadio" value="Stdout" onclick="onchangeRegexRadio(this)" onclick="showRegexInput(this)">
                            <label class="form-check-label" for="StdoutRadio">Konsolen Ausgabe</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" hidden id="RegexInputForm">
                    <label for="RegexInput">Regex (Perl-style)</label>
                    <input
                            type="text"
                            class="form-control"
                            id="RegexInput"
                            {% if assignment.regex %}
                            value="{{assignment.regex}}"
                            {% endif %}
                            aria-describedby="regex"
                    />
                    <small class="form-text text-muted">
                        Jede Zeile wird überprüft. Es reicht, wenn es wenigensten einen Treffer gibt.
                    </small>
                </div>
            </fieldset>

            <div class="form-group" id="SpecialSection">
                <label for="customScriptEditor">Spezielles Skript zum überprüfen der Abgabe (optional).</label>
                <div id="customScriptEditor"></div>
                {% include 'custom-script-small-desc.html' %}
                <div hidden id="hiddenCustomScriptText">{{assignment.custom_script}}</div>
            </div>
        </div>
    </div>
</form>

<form class="my-5 d-flex justify-content-center" id="FileForm" action="{{file_url}}" target="_parent" method="POST"
      enctype="multipart/form-data">
    <div class="card w-100">
        <div class=" align-baseline card-header d-flex align-items-center justify-content-between">
            <h5>Benötige Dateien</h5>
            <button type="submit" class="btn btn-primary justify-content-end" form="FileForm">hochladen</button>
        </div>
        <div class="card-body">
            {% include 'file_upload.html' %}
            <section class="mb-4">
                <p>Inhalt der Zip Datei <a href="{{file_url}}" download="{{file_name}}">herunterladen</a>:</p>
                {% if files | length > 0 %}
                    {% for file in files %}
                    <ul>
                        <li class="bg-light">{{file}}</li>
                    </ul>
                    {% endfor %}
                {% else %}
                <p>Keine Dateien vorhanden.</p>
                {% endif %}
            </section>
        </div>
    </div>
</form>

<script src="/static/form.js"></script>
{% endblock content %}