<small class="form-text text-muted">$1=Stdout, $2=Inhalt des Skriptes der Abgabe. $3=Ausgabe der Müsterlösung. Wird im selben Ordner ausgeführt wo die Abgabe getestet wurde.</small>
<small class="form-text text-muted">Bitte nur zum überprüfen der Lösung nutzen. Wird nicht im Container ausgeführt. Sollte der Stderr oder der Statuscode != 0 sein, dann wird der Abgabe als Falsch gewertet. </small>
<small class="form-text text-muted">Linux: Bash, optional Python3</small>
<small class="form-text text-muted">Windows: PowerShell</small>