<small class="form-text text-muted">$1=Konsolenausgabe des Abgabe, $2=Skript Inhalt  der Abgabe. $3=Konsolenausgabe der Müsterlösung. Wird im selben Ordner ausgeführt wo die Abgabe getestet wurde. Bitte nur zum überprüfen der Lösung nutzen.
    Wird nicht im Container ausgeführt. Sollte der Stderr oder der Statuscode != 0 sein, dann wird der Abgabe als Falsch gewertet. </small>
<small class="form-text text-muted">Linux: Bash, optional Python3</small>
<small class="form-text text-muted">Windows: PowerShell</small>