{% extends "index.html" %}
{% block content %}


<div class="d-flex justify-content-center">

    <form method="POST" action="{{base_url}}/exercise_form" class="card w-75">
            <div class="align-baseline card-header d-flex align-items-center justify-content-between">
                <h5>Praktium erstellen</h5>
                <button type="submit" class="btn btn-primary">Neu anlegen</button>
            </div>
            <div class="form-group card-body">
                <label for="DescriptionInput">Bezeichung</label>

                <input
                        type="text"
                        class="form-control w-75 p-3"
                        id="DescriptionInput"
                        aria-describedby="description"
                        name="description"
                        required
                />
        </div>
    </form>
</div>

{% endblock content %}