.code-editor, .code-editor:focus{
    padding: 0.6rem !important;
    font-size: 0.85em;
    background: #eff0f145;
}

.mono-font{
    font-family: "Lucida Console", Monaco, monospace;
}
body{
    padding-bottom: 5rem;
}
#StatusLabel {
    margin-right: 8px;
    padding-top: 3px;
}
h5{
    margin: 0;
}

li {
    width: max-content;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

fieldset{
    border: 1px solid #dfdfdf !important;
    padding: 0 1rem 0 1rem !important;
}
legend {
    font-size: 1.25rem;
    width: initial !important;
}